:root{
    --iq-bg-dark-bg: #6d73f6;
    --iq-bg-light-color: #efeefd;
    --iq-navbar-custom-bg-color: #609513;
    --iq-bg-dark-color: #1d203f;
    --iq-primary: #228B22;
    --iq-primary-light: #3DB043;
    --iq-primary-dark: #6B69D2;
    --iq-primary-deep: #4720d4;
    --iq-secondary: #66cc99;
    --iq-secondary-light: #c1c1c1;
    --iq-secondary-dark: #7d7d7d;
    --iq-success: #27b345;
    --iq-success-light: #45ce62;
    --iq-success-dark: #3dbb58;
    --iq-warning: #ffd369;
    --iq-warning-light: #ffd369;
    --iq-warning-dark: #fbc647;
    --iq-danger: #f14336;
    --iq-danger-light: #fd6256;
    --iq-danger-dark: #f35448;
    --iq-info: #6ce6f4;
    --iq-info-light: #6ce6f4;
    --iq-info-dark: #67ddea;
    --iq-dark: #3f414d;
    --iq-light: #E9EDF4;
    --iq-white: #ffffff;
    --iq-black: #000000;
    --iq-cyan: #0cd2e3;
    --iq-cobalt-blue: #3f79f1;
    --iq-spring-green: #1be1b3;
    --iq-amber: #f4b72a;
    --iq-pink: #FD6C9E;
    --iq-card-title-color: #ffffff;
    --iq-card-header-bg: #66cc99;
    
    --color-055: #055f05;
    --color-333: #333333;
    --color-444: #444444;
    --color-666: #666666;
    --color-777: #777777;
    --color-888: #888888;
    --color-999: #999999;
    --color-light-f3-gray: #f3f3f3;
    --color-light-f5-gray: #f5f5f5;
    --color-light-f7-gray: #f7f7f7;
    --color-light-f9-gray: #f9f9f9;
    --color-light-fa-gray: #fafafa;
    --color-light-aaa-gray: #aaaaaa;
    --color-light-ccc-gray: #cccccc;
    --color-light-d3-gray: #d3d3d3;
    --color-light-ddd-gray: #dddddd;
    --color-light-d5-gray: #d5d5d5;
    --color-light-eee-gray: #eeeeee;
    --color-light-e5-gray: #e5e5e5;
    --font-color: #525252; //414141
    --title-color: #222222;
    --link-color: #7d2bd9;
    --link-bg-color: #904EAA;

    --brand-color: #228B22;
    --brand-secondary-color: #3DB043;
}
// #099a09
// #76ad29
// --brand-color: #BC6A1B;
// --brand-secondary-color: #6FBC01;